CONFIG_WIFI_SETUP_DEVELOPMENT=y
CONFIG_SECURE_BOOT=n
CONFIG_SECURE_FLASH_ENC_ENABLED=n
CONFIG_NVS_ENCRYPTION=n
CONFIG_ESP_COREDUMP_ENABLE_TO_NONE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y
